:root {
    --primary-text-color:rgba(0, 0, 0, 0.25);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color:#F5F5F5;
}
.body {
    background-color:#FFFFFF;
    font-family:'Roboto'sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #212121;
    line-height:1.14;
}
.list {
    list-style:none;
}
.link {
    text-decoration: none;
}
/* ---------header--------- */
.header {
    background:#FFFFFF;
}
.nav-list {}

.nav-item {

}

.nav-link {
    font-weight: 500;
    color:#212121;
    font-family:'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;

}
/* смена цвета */
.nav-linklink1 {
    color:#2196F3;
}
.nav-link:hover, .nav-link:focus {
    color: #2196F3;
}

.header-tel {
    font-weight: 500;
    font-size: 14;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color:#757575;
}
/* button */

.button1 {width: 73px;height: 38px;}
.button2 {width: 125px;height: 38px;}
.button3 {width: 112px;height: 38px;}
.button4 {width: 103px;height: 38px;}
.button5 {width: 130px;height: 38px;}
.button1:hover,.button:focus {
    color:#FFFFFF;
    background-color: #2196F3;
}
.button2:hover,.button:focus {
    color:#FFFFFF;
    background-color: #2196F3;
}
.button3:hover,.button:focus {
    color:#FFFFFF;
    background-color: #2196F3;
}
.button4:hover,.button:focus {
    color:#FFFFFF;
    background-color: #2196F3;
}
.button5:hover,.button:focus {
    color:#FFFFFF;
    background-color: #2196F3;
}


.button0{ 
    text-align: center;
    font-family:'Roboto'sans-serif;
    font-style: normal;                                 
    color:#212121;
    background: #F5F4FA;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} 
.button { 
    font-family:'Roboto';
    font-style: normal;                                 
    color:#212121;
    background: #F5F4FA;
    font-size: 16px;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} 
.button:hover,.button:focus {
    color:#FFFFFF;
    background-color: #2196F3;
    width: 216px;
    height: 50px;
}

.background {
    color:#FFFFFF;
    background-color:#2F303A;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight:900;
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    }
.background1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height:1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}
  
ul {
    list-style: none;
}
 /* цвкт основного текста  #212121 */

/* цвет вторичного текста   #757575  */

 /* шапка страницы  #ECECEC */

 /* акцент #2196F3 */

.logo {
font-family:'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height:1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.logo-header {
    color:#000000;
}
/* site nav Навигация*/


/* sektion portfolio */

.site-nav, .link:hover
.site-nav, .link:focus{
    color: #000000;
}

/* Специализация */



.section-title1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height:1.16;
    text-align:left;
    letter-spacing: 0.03em;
    color: #212121;   
}

.section-title {
    text-align:center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;   
}
.section-title2{
    text-align:left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;   
}
.section-title3{
    text-align:left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;   
}

.secondary-text {
    text-align:center;
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.secondary-text2 {
    text-align:left;
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.secondary-text3 {
    text-align:left;
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.footer {
    background-color: #2F303A;
}
.logo-footer {
    color: #FFFFFF;
    font-family: 'Raleway';
}
.footer1 {
    color: #FFFFFF;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
}
.footer2 {
    color:#757575 ;
}