:root {
    --primary-text-color:rgba(0, 0, 0, 0.25);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color:#F5F5F5;
}
.body {
    background-color:white;
    font-family:"Open Sans",Verdana,sans-serif;
    font-size: 14;
    letter-spacing: 0.03em;
    color: #212121;
    line-height: 16px;
}
.list {
    list-style:none;
}
.link {
    text-decoration: none;
}
/* ---------header--------- */
.header {
    background:#FFFFFF;
}
.nav-list {}

.nav-item {

}

.nav-link {
    font-weight: 500;
    color:#212121;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}
/* смена цвета */
.nav-link:hover, .nav-link:focus {
    color: #2196F3;
}

.header-tel {
    font-weight: 500;
    font-size: 14;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color:#757575;
}
/* button */

.button { 
    font-family: 'Roboto';
    font-style: normal;                                 
    color:#212121;
    background: #F5F4FA;
    font-size: 16px;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
} 
.button:hover,.button:focus {
    color:#FFFFFF;
    background-color: #2196F3;
    width: 216px;
    height: 50px;
}
.background {
    color:#FFFFFF;
    background-color:#2F303A;
    text-align: center;
    }
.background1 {
    text-align: center;
}
  
ul {
    list-style: none;
}
 /* цвкт основного текста  #212121 */

/* цвет вторичного текста   #757575  */

 /* шапка страницы  #ECECEC */

 /* акцент #2196F3 */

.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}

.logo-header {
    color:#000000;
}
/* site nav Навигация*/


/* sektion portfolio */

.site-nav, .link:hover
.site-nav, .link:focus{
    color: #000000;
}

/* Специализация */




.section-title {
    color:#212121;
    text-align: center;
}
/* footer */

.footer {
    background-color: #2F303A;
}
.logo-footer {
    color: #FFFFFF;
    font-family: 'Raleway';
}
.footer1 {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer2 {
    color:#757575 ;
}